body{
    font-family: "Arial, sans-sherif";
}

tittle {
    color:red;
    color: transparent;
}

h1{
    color: blue;
    font-size: 80px;
    text-align: center;
}

img{
    display: block;
    text-align: center;
    display: black;
    margin: auto;
}
p {
    font-size: 100px;
    color: red;
    border-width: 10px;
    border-radius: 5px;
    border-color: black;
    text-align: center;
}

a{
    display: block;
    text-align: center;
    font-size: 50px;
    color: black;
    text-decoration: italic;
}


