body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
}

#question-container div {
    margin-bottom: 20px;
}

label {
    display: block; /* Faz cada resposta aparecer em uma nova linha */
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}
