body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
    background-color: rgba(36, 238, 245, 0.863);
    color: #333;
}

#question-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block; /* Faz cada resposta aparecer em uma nova linha */
    margin: 8px 0;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgba(36, 238, 245, 0.863);;
}

h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #DDD;
    color: #333;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #333;
}

